<div class="container-fluid main_container"></div>
<div class="row row__style4  mx-0 pb-5">
    <div class="col-11 mx-auto">
        <h2 class="text-center">{{site.data.ourfeatures.h2}}</h2>
        <div class="row mt-5">
            {%- for item in site.data.ourfeatures.ourfeaturesList -%}

            <div class="col-lg-3 col-md-6 info__card aos-init aos-animate text-center" data-aos="fade-up">
                <div class="icon">
                    <img src="{{item.image}}" class="img-fluid" alt="">
                </div>
                <div class="content">
                    <p>{{item.description}}</p>
                </div>
            </div>

            {%- endfor -%}
        </div>
        {%- include section/view_our_program2.html -%}
    </div>
</div>