<div class="container-fluid">
    <div class="row gy-4 gx-sm-5 gx-0" style="margin-top:-240px">
        <div class="col-md-12 p-0">
            <h2 class="text-center">{{site.data.view_our_program.h2}}</h2>
        </div>
        <div class="col-lg-4 col-md-6">
            <button class="btn btn-primary w-100 p-0">{{site.data.view_our_program.btn}}</button>
        </div>
        <div class="col-lg-4 col-md-6">
            <button class="btn btn-primary w-100 p-0">{{site.data.view_our_program.btn2}}</button>
        </div>
        <div class="col-lg-4 col-md-6">
            <button class="btn btn-primary w-100 p-0">{{site.data.view_our_program.btn3}}</button>
        </div>
        <div class="col-lg-4 col-md-6 mx-auto">
            <button class="btn btn-primary w-100 p-0">{{site.data.view_our_program.btn4}}</button>
        </div>
    </div>
</div>