<div class=" cue-card-widget"
    style="box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 12px; background-color: rgb(255, 255, 255); padding: 16px 10px; border-radius: 4px;">
    <table border="0" cellpadding="1" cellspacing="1" style="width:100%;">
        <tbody>
            <tr>
                <td><a class="same-font" href="#What-are-Decimal">
                        <span style="color:#7979fd;">1. &nbsp;</span>
                        {{site.data.decimal_data.example.decimal}}
                    </a>
                </td>
            </tr>
            <tr>
                <td><a class="same-font" href="#Steps-to-convert-{{value}}/{{value2}}-to-decimal?">
                        <span style="color:#7979fd;">2. &nbsp;</span>
                        Steps to convert {{value}}/{{value2}} to decimal ?
                    </a>
                </td>
            </tr>
            <tr>
                <td><a class="same-font" href="#How-to-read-a-decimal?">
                        <span style="color:#7979fd;">3. &nbsp;</span>
                        {{site.data.decimal_data.example.ex1}}
                    </a>
                </td>
            </tr>
            <tr>
                <td><a class="same-font" href="#What-is-the-purpose-of-the-decimal-point?">
                        <span style="color:#7979fd;">4. &nbsp;</span>
                        {{site.data.decimal_data.example.ex2}}
                    </a>
                </td>
            </tr>
            <tr>
                <td><a class="same-font" href="#Converting-meters-to-cms-to-understand-decimals">
                        <span style="color:#7979fd;">4. &nbsp;</span>
                        {{site.data.decimal_data.example.ex3}}
                    </a>
                </td>
            </tr>
            <tr>
                <td><a class="same-font" href="#Converting-kgs-to-grams-to-understand-decimals">
                        <span style="color:#7979fd;">5. &nbsp;</span>
                        {{site.data.decimal_data.example.ex4}}
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<div class="contaner">
    <div class="what_are_decimal.?" id="What-are-Decimal">
        <h4 class="mt-3 heading">What Are Decimal?</h4>
        <p>{{site.data.decimal_data.example.definition}}</p>
    </div>
</div>